<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-28990-1660119855/blob/main/Assignment_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [24]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [25]:
s="Hi there Sam!".split()
s=list(s)
s

['Hi', 'there', 'Sam!']

In [26]:
s="Hi there dad!".split()
list(s)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [27]:
planet = "Earth"
diameter = 12742

In [28]:
t="The diameter of {0} is {1} kilometers.".format(planet,diameter)
t

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [29]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [30]:
print(str(*lst[3][1][2]))

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [31]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [32]:
d.get('k1')[3].get("tricky")[3].get("target")[-1]

'hello'

** What is the main difference between a tuple and a list? **

In [21]:
"""List are Mutalbles, Enclosed within "[]".
Tuple are Immutables, Enclosed within "()"."""

'List are Mutalbles, Enclosed within "[]".\nTuple are Immutables, Enclosed within "()".'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

# New Section

In [33]:
s="user@domain.com"

In [34]:
s[s.index("@")+1:]

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [35]:
s="my dog name is spark".split()

In [36]:
"dog" in s

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [37]:
s="dog dog".split()
s=list(s)

In [38]:
s.count("dog")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [39]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [40]:
caught_speeding(81,0)

'Big Ticket'

In [41]:
caught_speeding(61,0)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [42]:
em=[30000,40000,55000,25000,15000]
s=0
for i in em:
    s=s+i
print(s)

165000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [43]:
d1={
    "Empid":123,
    "Empname":"abc",
    "Basicpay":50000
}
d2={
    "DeptName":"CSE",
    "DeptId":104
}
d1.update(d2)
d1

{'Empid': 123,
 'Empname': 'abc',
 'Basicpay': 50000,
 'DeptName': 'CSE',
 'DeptId': 104}